<ion-header>
  <ion-toolbar>
    <ion-title>
      HFM Player
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
	<ion-button icon-only (click) ="togleRecording()">
		<ion-icon slot="icon-only" name={{recordingSymbol}}></ion-icon>
	</ion-button>

	{{statusRecording}} // {{timeSincePlay}}
	
  </div>
  
  	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[0]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[1]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[2]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[3]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[4]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[5]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[6]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[7]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[8]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[9]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[10]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[11]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[12]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[13]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[14]}}
	</div>
	<div style=" width: 6.25%;  border: 1px solid black; float: left; text-align: center">
		{{auxFFTBars[15]}}
	</div>
  
	<div>
		0-500     :: {{this.fftAverage[0]}}  (not to be trusted)
	</div>
	<div>
		500-1000  :: {{this.fftAverage[1]}}
	</div>
	<div>
		1000-1500 :: {{this.fftAverage[2]}}
	</div>
	<div>
		1500-2000 :: {{this.fftAverage[3]}}
	</div>
	<div>
		2000-2500 :: {{this.fftAverage[4]}}
	</div>
	<div>
		2500-3000 :: {{this.fftAverage[5]}}
	</div>
	<div>
		3000-3500 :: {{this.fftAverage[6]}}
	</div>
	<div>
		3500-4000 :: {{this.fftAverage[7]}}
	</div>
	<div>
		4000-4500 :: {{this.fftAverage[8]}}
	</div>
	<div>
		4500-5000 :: {{this.fftAverage[9]}}
	</div>
	<div>
		5000-5500 :: {{this.fftAverage[10]}}
	</div>
	<div>
		5500-6000 :: {{this.fftAverage[11]}}
	</div>
	<div>
		6000-7600 :: {{this.fftAverage[12]}}
	</div>
	<div>
		6500-7000 :: {{this.fftAverage[13]}}
	</div>
	<div>
		7000-7500 :: {{this.fftAverage[14]}}
	</div>
	<div>
		7500-8000 :: {{this.fftAverage[15]}}
	</div>
	



  
  </ion-content>
